* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    background-color: #f6f6f6;
    color: #41b320;
    text-shadow: none;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;

    font-family: Arial;
    border: none;
    border-top: .1em solid rgba(0,0,0,.05);
    border-left: .1em solid rgba(0,0,0,.1);
    border-bottom: .1em solid rgba(0,0,0,.2);
    border-right: .1em solid rgba(0,0,0,.1);
    border-radius: .2em;
    background-image: linear-gradient(transparent 20%,rgba(0,0,0,.1));
}

.inputfile:disabled + label {
    opacity: 0.9;
    color: #ccc;
    cursor: default;
}

.list-preview-files {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 800px;
}

.list-preview-files li.file {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    min-height: 50px;    
    position: relative;
}

.list-preview-files li.error-file {
    border: 1px solid red;
    position: relative;
    margin-bottom: 30px;
}

.list-preview-files li.error-file .thumbnail-image:before{    
    background-image: url("./PS-ibk-icon_img-broken-48px.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-right: 1px solid red;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 48px;
    width: 48px;
}

.list-preview-files li.error-file .file-error-message{
    bottom: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    left: 0px;
    position: absolute;    
    width: 100%;        
}

li[data-item] .info-file {    
    flex: 0 1 50%;
}

span[data-item-size] {
    margin-left: 10px;
}

li[data-item] .actions {
    flex: 0 1 35%;
    font-size: 13px;
    margin-right: 20px;
    text-align: right;
}

li[data-item] .actions .item-action {
    color: #035ec7;
    padding: 0 5px;    
    text-decoration: none;
    position: relative;
}

li[data-item] .actions [data-visualize] {
    margin-right: 35px;
}

li[data-item] .actions [data-delete]:before {
    background-image: url("./PS-ibk-icon_remover.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    position: absolute;
    left: -22px;
    top: 50%;
    margin-top: -14px;
}

li[data-item] .actions [data-visualize]:before {
    background-image: url("./PS-ibk-icon_visualizar.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -14px;
}

.thumbnail-image {
    line-height: 0px;
    flex: 0 1 15%;
}

.thumbnail-image img {    
    height: 60px;
    width: 60px;       
}

button.ps-btn-green {
    background-color: #f6f6f6;
    color: #41b320;
    text-shadow: none;
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;

    font-family: Arial;
    border: none;
    border-top: .1em solid rgba(0,0,0,.05);
    border-left: .1em solid rgba(0,0,0,.1);
    border-bottom: .1em solid rgba(0,0,0,.2);
    border-right: .1em solid rgba(0,0,0,.1);
    border-radius: .2em;
    background-image: linear-gradient(transparent 20%,rgba(0,0,0,.1));

    margin-top: 20px;
}

button.ps-btn-green:disabled {
    opacity: 0.9;
    color: #ccc;
    cursor: default;
}